@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

container {
    font-weight: 400;
    font-size: 1.8rem;
    color: #000;
    letter-spacing: -.018rem;
    padding: 16px;
}

/* Main content */
main {
    margin-top: 80px; /* Add a top margin to avoid content overlay */
}

#logo-bar {
    height: 70px;
}

.navbar {
   overflow: hidden;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 99%; /* Full width */
   font-family: 'Open Sans', sans-serif;
   border: 4px solid black;
}

  /* remove bullets from nav list */
nav ul {
   list-style-type: none;
   
}

  /* unvisited link */
.navbar a:link {
   display: block;
   float: right;
   text-align: center;
   color: black;
   text-align: right;
   padding: 5px 20px 23px 10px;
   text-decoration: none;
  
}

/* visited link */
.navbar a:visited {
   color: gray;
}

/* mouse over link */
.navbar a:hover {
    color: red;
    transition: background-color 0.5s ease;
    background-color: lightslategray;

}

/* selected link */
.navbar a:active {
    color: yellow;
    font-size: 110%;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#cards {
    background-color: #fff;
    width: 250px;
    border: 3px solid #eb752f;
    padding: 15px;
    margin: 25px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 6px 7px 31px -1px rgba(0,0,0,0.75);