/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:light|Roboto');
@import url("https://use.typekit.net/imq5hqd.css");
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);


$font1: Lato, Helvetica, sans-serif;
$font2: Roboto, Helvetica, sans-serif;
$font3: "brandon-grotesque", sans-serif;