/* Footer */
.footer {
  position: relative;
  height: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  background-color: #efefef;
  text-align: center;
}

#footer-info-div {
  padding-top: 50px;
}
