//home portfolio grid area

#portfolio-div {
    margin: 0 auto;
    display: grid;
    color: $white;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                "my-camera-bags my-camera-bags my-camera-bags hack-for-the-community"
                "my-camera-bags my-camera-bags my-camera-bags crime-checker"
                "wide-world-travel wide-world-travel wide-world-travel wide-world-travel"
                "wake-up-app fifth fifth fifth"
                "photo-blaster fifth fifth fifth";

    grid-column-gap: 10px;
    grid-row-gap: 10px;
}