
#intro {
    align-self: left !important;
}

#hi {
    margin-bottom: 0;
}

#hi, #hi-follow {
    font-size: 3em;
    font-family: $font2;
}

#hi-follow {
    // margin-top: 0.25em;
    margin-bottom: 1em;

}
.slideInLeft#hi {
    animation-duration: 2s;
}

.slideInRight#hi-follow {
    animation-duration: 2s;
}

.blast {
animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.blast:hover {
    -webkit-animation-name: rubberBand 1s !important;
    animation-name: rubberBand 1s !important;
    color: $red; 
}

// #intro {
//     -moz-animation: cssAnimation 0s ease-in 8s forwards;
//     /* Firefox */
//     -webkit-animation: cssAnimation 0s ease-in 8s forwards;
//     /* Safari and Chrome */
//     -o-animation: cssAnimation 0s ease-in 8s forwards;
//     /* Opera */
//     animation: cssAnimation 0s ease-in 8s forwards;
//     -webkit-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
// }
// @keyframes cssAnimation {
//     to {
//         width:0;
//         height:0;
//         overflow:hidden;
//     }
// }
// @-webkit-keyframes cssAnimation {
//     to {
//         width:0;
//         height:0;
//         visibility:hidden;
//     }
// }