.project-img {
    // border: 1px solid $black;
    width: 100%;
    margin-bottom: 1em;
}

.proj-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.proj-link-icon {
    max-width: 100px;
}

.proj-link-obj {
    display: flex;
    flex-direction: column;
    text-align: center;
}