
#resume-header {
    border-bottom: 2px solid black;
    
}

#resume-div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#res-col-1 {
    grid-row: 1;
    grid-column: 1;
}

#res-col-2 {
    grid-row: 1;
    grid-column: 2;
}

#res-col-3 {
    grid-row: 2;
    grid-column: 1 / span 2;
}

#projects-art {
    display: grid;
    grid-template-columns: auto auto;
}

#res-cam-div {
    grid-column: 1;
}

#res-club-div {
    grid-column: 2;
}